<div class="d-flex align-items-center border-bottom">
    <div class="w-75 mx-auto my-5 py-5 row align-items-center justify-content-evenly">
        <div class="col-4 justify-content-center">
            <h3>Please Register</h3>
            <% if(message.body){ %>
                <div class="alert <%= message.type === 'success' ? 'alert-success' : 'alert-danger' %> ">
                    <%= message.body %>
                </div>
                <% } %>
                    <form method="POST" action="/register">
                        <div class="mb-3">
                            <!-- <sup class="text-danger">*</sup> -->
                            <label class="form-label">Username</label>
                            <input type="text" name="username" id="username" value="<%= formData.username %>"
                                class="form-control <%= errors.username ? 'is-invalid' : '' %>">
                            <% if(errors.username){ %>
                                <div class="invalid-feedback">
                                    <%= errors.username %>
                                </div>
                                <% } %>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" name="email" id="email" value="<%= formData.email %>"
                                class="form-control <%= errors.email ? 'is-invalid' : '' %>">
                            <% if(errors.email){ %>
                                <div class="invalid-feedback">
                                    <%= errors.email %>
                                </div>
                                <% } %>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" id="password" value="<%= formData.password %>"
                                class="form-control <%= errors.password ? 'is-invalid' : '' %>">
                            <% if(errors.password){ %>
                                <div class="invalid-feedback">
                                    <%= errors.password %>
                                </div>
                                <% } %>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" name="repeat_password" id="repeat_password"
                                value="<%= formData.password %>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-dark col-12 mt-3">Submit</button>
                    </form>
        </div>
        <img class="col-6 mw-100" src="/images/register.svg" />
    </div>
</div>